### 1. SUMMATIONS AND PRODUCT

1- I compute the foolowing expressions

(i)

In [48]:
n = 10
somme = 0
for i in range(n):
    if i%2 != 0:
        somme += i+3
print(somme)

40

In [49]:
for i in range(5):
    if i%2:
        print(i)

1
3

(ii)

In [55]:
n = 10
produit = 1
for i in range(n):
    if i%2 == 0 :
        produit *= (i+3) 
print(produit)

10395

2 - Day of the week

In [38]:
day = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for number in range(7):
    if number > 4:
        print('Weekend')
    else:
        print(day[number])

Monday
Tuesday
Wednesday
Thursday
Friday
Weekend
Weekend

3 - How many days in the month :

In [ ]:
nday_by_month = [31,28,31,30,31,30,31,31,30,31,30,31]
for i in range(12):
    print('The month {}' ' has {} days'.format(i,nday_by_month[i]))

4- Two ways to display my name 3 times:

In [1]:
name = 'Honorat'
i = 0
while i < 3:
    print(name)
    i = i+1

Honorat
Honorat
Honorat

In [2]:
for i in range(3):
    print(name)

Honorat
Honorat
Honorat

5- Finonacci

In [11]:
a0 = int(input('a0 = '))
a1 = int(input('a1 = '))
n = 15
fibo = {0:a0, 1:a1}

for i in range (2,n):
    fibo[i] = fibo[i-1] + fibo[i-2]
    
print(fibo[2])    
for i in range(n):
    print('Fibonacci (a{}) = {}'.format(i,fibo[i]))

a0 = 0
a1 = 1
1
Fibonacci (a0) = 0
Fibonacci (a1) = 1
Fibonacci (a2) = 1
Fibonacci (a3) = 2
Fibonacci (a4) = 3
Fibonacci (a5) = 5
Fibonacci (a6) = 8
Fibonacci (a7) = 13
Fibonacci (a8) = 21
Fibonacci (a9) = 34
Fibonacci (a10) = 55
Fibonacci (a11) = 89
Fibonacci (a12) = 144
Fibonacci (a13) = 233
Fibonacci (a14) = 377

6- first 30 terms of the sequence :

In [15]:
x0,x1 = 1,3
seq = {0:x0, 1:x1}

for i in range(2,30):
    seq[i] = seq[i-1]/2 + seq[i-2]
    
for i in range(30):
    print('x{} = {}'.format(i,seq[i]))

x0 = 1
x1 = 3
x2 = 2.5
x3 = 4.25
x4 = 4.625
x5 = 6.5625
x6 = 7.90625
x7 = 10.515625
x8 = 13.1640625
x9 = 17.09765625
x10 = 21.712890625
x11 = 27.9541015625
x12 = 35.68994140625
x13 = 45.799072265625
x14 = 58.5894775390625
x15 = 75.09381103515625
x16 = 96.13638305664062
x17 = 123.16200256347656
x18 = 157.7173843383789
x19 = 202.02069473266602
x20 = 258.7277317047119
x21 = 331.384560585022
x22 = 424.4200119972229
x23 = 543.5945665836334
x24 = 696.2172952890396
x25 = 891.7032142281532
x26 = 1142.0689024031162
x27 = 1462.7376654297113
x28 = 1873.437735117972
x29 = 2399.4565329886973

7-a) leap year

In [ ]:
year = 2002;
if(year%4 == 0):
    print(ok)
elif
    print(year,' is not leap years')